<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--Log4net configuration-->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>

    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="userName" value="xxxx"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="password" value="xxxx"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="QBAppID" value=""/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="QBAppName" value="HIPALANET-QUICKBOOKS-INTEGRATOR"/>

    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="APIBaseURL" value="http://qbintegratorapitest.hipalanet.com"/>

  </appSettings>
  
</configuration>